
.container-foot {
    background-color:rgba(0, 0, 0, 0.89);
    /* height: 2em; */
    
}
.container-foot  p{
    color: azure;
    /* padding: 1em 0; */
    font-size: 0.9em;
}

/* delete under footer */
.container-foot .row{
   --bs-gutter-x: 0!important;
}
.container-foot  p a{
    text-decoration: none;
}

ul a{
    text-decoration: none;
    color: var(--bs-body-color);;
}
html,body {
    height: 100%;
}
#root {
    height: 100%;
}
#root {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto!important;
    /* position: relative; */
}
.footer {
    flex-shrink: 0;
}

.logo-contact{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 1em;
}
.logo-contact .icon{
    width: 40px!important;
    height: 40px!important;
    color: black;
}
 .whatsapp{
    color: #25d366 !important;
}

.email{
    /* color: salmon!important; */
}
 .maps{
    color: #dd4b3e!important;
}
 .linkedin{
    color: #0e76a8!important;
}

.darkmode--activated .whatsapp, .darkmode--activated .email, .darkmode--activated .maps, .darkmode--activated .linkedin{
    color:black !important;
}



@media (max-width: 768px){
    .description-model-foot img{
        width: 200px;
        height: 70px;
   }
   .description-model-foot{
       font-size: 0.9em;
   }
   .description-model-foot .container-foot{
    font-size: 0.85em;
}
}



/* dark mode area */
.darktoggle{
    display: none;
}
.darkmode-toggle{
    z-index: 99;
}
.darkmode--activated .card p{
    color: rgb(0, 0, 0);
}
.darkmode--activated .footer .row p{
    color: rgb(0, 0, 0);
}
.darkmode--activated .footer .container-foot p{
    color: rgb(255, 255, 255);
}

.darkmode--activated .footer a:hover {
    color: cornflowerblue;
}
.darkmode--activated p, .darkmode--activated li {
    color: rgb(255, 255, 255);
 }
.darkmode--activated h1, .darkmode--activated .footer a {
    color: rgb(255, 255, 255);
 }
 .darkmode--activated .bg-light-dark{
    background-color: rgb(236, 234, 234)!important;
}

.nav-custom{
    background-color: rgb(53, 53, 53);
}
.darkmode--activated .nav-custom{
    background-color: rgb(253, 253, 253);
    color: black!important;
}

.darkmode--activated .bg-dark{
    background-color: rgb(253, 253, 253)!important;
    color: black;
}
.darkmode--activated .notHome .nav-link{
    color:black!important;
}
.darkmode--activated .nav-custom .nav-link{
    color:black!important;
}
.darkmode--activated .container-about p{
    color: black!important;
}
.darkmode--activated .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}
.darkmode--activated .navbar-toggler {
    color: rgba(0,0,0,.55)!important;
    border-color: rgba(0,0,0,.1)!important;
}